@model TicTacToe.Models.GameSessionModel
@section Desktop
{
    <h1>Game Session @Model.Id</h1>
    <h2>Started at @(DateTime.Now.ToShortTimeString())</h2>
    <div class="alert alert-info">
        <table class="table">
            <tr>
                <td>User 1:</td>
                <td>
                    @Model.User1?.Email (<i class="glyphicon glyphicon-unchecked"></i>)
                </td>
            </tr>
            <tr>
                <td>User 2:</td>
                <td>
                    @Model.User2?.Email (<i class=" glyphicon glyphicon-remove-circle"></i>)
            </td>
        </tr>
    </table>
</div>
}
@section Mobile{
    <h1>Game Session @Model.Id</h1>
    <h2>Started at @(DateTime.Now.ToShortTimeString())</h2>
    User 1: @Model.User1?.Email <i class="glyphicon glyphicon-unchecked"></i><br />
    User 2: @Model.User2?.Email (<i class="glyphicon glyphicon-remove-circle"></i>)
}
<vc:game-session game-session-id="@Model.Id"></vc:game-session>